
<div id="main">
<h1>Welcome To Smart-Clinic@NCI</h1>
</div>

<div id="footer">
<hr>
<p>
Copyright 
<%= "#{start_year} - " if defined? start_year %>
<%= Date.today.year %> 
Maricel@https://smart-clinic-nci.herokuapp.com
</p>
</div>