
@import "bootstrap-sprockets";
@import "bootstrap";

#main {
	margin-top: 200px;
    text-align: center;
	color: black;
    }

#footer {
	margin-top: 400px;
    text-align: center;
	color: black;
    }